<?xml version="1.0"?>
<config>
    <modules>
        <GSC_Orderslips>
            <version>0.1.0</version>
        </GSC_Orderslips>
    </modules>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <GSC_Orderslips_Model_Observer>
                        <type>singleton</type>
                        <class>GSC_Orderslips_Model_Observer</class>
                        <method>addOrderSlipsAction</method>
                    </GSC_Orderslips_Model_Observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <GSC_Orderslips>
                            <title>GSC Order Slips</title>
                            <sort_order>10</sort_order>
                        </GSC_Orderslips>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderslips>
                                            <title>Additional Order Slips</title>
                                        </orderslips>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <GSC_Orderslips>
                <class>GSC_Orderslips_Block</class>
            </GSC_Orderslips>
        </blocks>
        <models>
            <GSC_Orderslips>
                <class>GSC_Orderslips_Model</class>
            </GSC_Orderslips>
        </models>
        <helpers>
            <orderslips>
                <class>GSC_Orderslips_Helper</class>
            </orderslips>
        </helpers>
        <pdf>
            <order>
                <default>GSC_Orderslips/order_pdf_items_order_rma</default>
            </order>
            <giftreceipt>
                <default>GSC_Orderslips/order_pdf_items_order_giftreceipt</default>
            </giftreceipt>
        </pdf>
    </global>
	<admin>
        <routers>
            <GSC_Orderslips>
                 <use>admin</use>
                <args>
                    <module>GSC_Orderslips</module>
                    <frontName>orderslips</frontName>
                </args>
            </GSC_Orderslips>
        </routers>
    </admin>
    <default>
        <orderslips>
            <rma_inputs>
                <spacer_add>0</spacer_add>
            </rma_inputs>
        </orderslips>
    </default>
</config>
